/* Import Albert Sans from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;700&display=swap');

/* Body design */
body {
    font-family: 'Albert Sans', sans-serif;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #DFF9FF;
}

/* Button design */
.round-button {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #2CD7FF;
    background-color: #DFF9FF;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    outline: none;
    font-family: 'Albert Sans', sans-serif;
    transition: 0.3s ease-in-out;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.round-button:hover {
    background-color: lightblue;
    transform: scale(1.1);
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.5);
}

